/****** Base ******/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
  font-weight: lighter;
  line-height: 150%;
  margin-top: 1rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  font-weight: 300;
  font-family: Roboto, serif;
  line-height: 150%;
}

a {
  text-decoration: none;
}


/****** Layout ******/

.wrap {
  padding: 1rem 2rem;
  /** left and right padding only? **/
  max-width: 1080px;
  margin: auto;
}

.fatwrap {
  padding: 1rem 2rem;
  /** left and right padding only? **/
  max-width: 80%;
  margin: auto;
  height: 500px;
}


/****** Override ******/

.short {
  min-height: 380px;
  line-height: 0;
  height: auto;
}

.fixed-action-btn ul {
  text-align: right;
}

.btn-floating i {
  font-size: 2rem;
  color: whitesmoke;
}

.fixed-action-btn ul li {
  margin: 0;
  float: right;
}

.fab-item {
  display: inline;
  color: black;
  margin: 0;
  background-color: rgba(247, 255, 0, .95);
  font-size: 1.75rem;
  font-weight: 700;
  border-radius: 0;
  transition: .3s;
  padding: 0 4px;
}

.red {
  background-color: #ff503c;
}

.highlighter {
  background-color: rgba(247, 255, 0, .95);
}


/****** Custom ******/

#about {
  background: linear-gradient(300deg, #ff503c calc(50%), #ece9e7 50%);
}

.video-wrap {
  /** left and right padding only? **/
  max-width: 1080px;
  margin: auto;
  padding: 1rem;
}

.beigefront {
  background: linear-gradient(to left, #f3f0ed 80%, #ff503c 40%)
}

.beigeback {
  background: linear-gradient(to left, #ff503c 80%, #f3f0ed 80%)
}


/****** Video ******/

.cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.hi {
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
}

.cover-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  align-items: center;
}

.cover-item {
  display: flex;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  padding: 0 .25rem;
  /*mq: 0 2rem*/
  font-size: 16vh;
  /*mq: 28vh*/
}

#muter {
  position: absolute;
  top: 93%;
  left: 93%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
}

.cover .hi span {
  cursor: pointer;
  text-decoration: none;
}

;
.cover .hi em {
  font-style: normal;
}

;
.tv {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: auto;
  opacity: 0;
  transition: opacity .5s;
}

.screen.active {
  opacity: 1;
}

.social li {
  display: inline-block;
}


/* label focus color */

.input-field input:focus + label {
  color: #ff503c !important;
}


/* label underline focus color */

.row .input-field input:focus {
  border-bottom: 1px solid #ff503c !important;
  box-shadow: 0 1px 0 0 #ff503c !important
}


/* label focus color */

.input-field textarea:focus + label {
  color: #ff503c !important;
}


/* label underline focus color */

.row .input-field textarea:focus {
  border-bottom: 1px solid #ff503c !important;
  box-shadow: 0 1px 0 0 #ff503c !important
}

@media only screen and (max-width: 768px) {
  .cover-item {
    padding: 0 2rem;
  }
  .fixed-action-btn {
    right: 28px;
    bottom: 28px;
  }
  #muter {
    position: absolute;
    top: 95%;
    left: 95%;
  }
  .carousel {
    max-height: 400px;
  }
}

@media only screen and (min-width: 768px) {
  .wrap {
    padding: 1rem 2rem;
    /** left and right padding only? **/
    margin: auto;
  }
  .carousel {
    min-height: 800px;
  }
}